section{
	box-sizing: border-box;
	overflow:auto;
	margin:5px;
	
}

#title{
	position:absolute;
	top:0px;
	right:0px;
	box-sizing: content-box;
    border:2px solid black;
    background-color: green;
    font-size: 200%;
    font-style: italic;
	
}
.para{
    margin: 40px 5px 5px 5px;
	padding:2px;


}


	
@media (min-width: 992px){
	.col-lg-4{
		position:relative;
		border: solid black;
		padding: 5px;
        width:32%;
}
}
@media (min-width: 768px) and (max-width: 991px){
	 .col-md-6,.col-md-12{ 
	    position: relative;
		border: 1px solid black;
		padding: 10px;
		margin: 10px;
	}
	.col-md-6{
	
		width: 47%;
	}
	.col-md-12{
		
		width:98%;
	}
	#flting1{
		float:left;
	}
}
@media (max-width: 767px){
	.col-sm-12{
		position: relative;
		border: 1px solid black;
	    width:95%;
}
}
#flting0{
	float: left;
	background-color: yellow;
}
#flting1{
	background-color: pink;
	float: left;

}
#flting2{
	background-color: brown;
	float: left;
	clear: right;

}
